*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
section{
    Padding: 30px;
    font-family:'Karla', sans-serif;
    
}
.one{
    height: 34vh;
    background-color: white;

}
.one h1{
    font-size:20px;
    color:#4fbdb4;
    margin-bottom: 16px;

}
.one h2{
    color:#b6e762;
    font-size:15px;

}
.one p{
    color: #7e7f82;
    font-size: 12px;
    margin-top: 6px;
    line-height: 20px;
}
.two{
    height: 33vh;
    color: white;
    background-color:#4fbdb4;
    line-height: 40px;
    
}
.two h1{
    font-size: 20px;
    margin-top:-15px;
}
span{
    font-size: 25px;

}
.two p{
    font-size: 15px;
    line-height: 25px;
}
button{
    width: 250px;
    height: 50px;
    background-color:#adff30;
    color:white;
    font-size: 20px;
    border-radius: 8px;
    border-color:transparent;
    margin-top: 20px;
}
.three{height:33vh;
background-color:#32dfaa;
color: whitesmoke;
}
.three h1{
    font-size:20px;

}
.three p{
    font-size: 15px;
    line-height: 17px;
    margin-top: 15px;
}
@media only screen and (min-width:768pX){
    *{
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
    section{
        Padding: 30px;
        font-family:'Karla', sans-serif;
        
    }
    .one{
        height: 50vh;
        background-color:#ffffff;
        padding-left: 6%;
        
    }
    .one h1{
    
        font-size:30px;
        color:#4fbdb4;
        margin-bottom: 25px;
    }
    .one h2{
        color:#d0fe82;
        font-size:30px;
    }
    .one p{
        color:#7e7f82;
        font-size: 20px;
        margin-top: 20px;
        line-height: 50px;
    
    }
    .two{
    
        height: 50vh;
        width: 55%;
        color: white;
        background-color:#4fbdb4;
        float: left;
        line-height: 60px;
        
    }
    .two h1{
        font-size: 25px;
        margin-left: 20px;
    }
    span{
        font-size: 30px;
    }
    .two p{
        font-size: 18px;
        margin-bottom: 20px;
        margin-left: 20px;
        line-height: 40px;
    }
    button{
        width: 300px;
        height: 60px;
        background-color:#adff30;
        color:white;
        font-size: 20px;
        margin-left: 20px;
        border-color:transparent;
    }
    .three{
        height: 50vh;
        width: 45%;
        background-color:#32dfaa;
        color: white;
        float:right;
    }
    .three h1{
        font-size: 25;
        margin-left: 40px;
    
    }
    .three p{
        margin-top: 20px;
        margin-left: 40px;
        font-size: 18px;
        line-height: 30px;
    }

}
@media only screen and (min-width:1024pX){
    *{
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
    section{
        Padding: 30px;
        font-family:'Karla', sans-serif;
        
    }
    .one{
        height: 50vh;
        background-color:#ffffff;
        padding-left: 20%;
        
    }
    .one h1{
    
        font-size:35px;
        color:#4fbdb4;
        margin-bottom: 25px;
    }
    .one h2{
        color:#afe74e;
        font-size:30px;
    }
    .one p{
        color:#7e7f82;
        font-size: 20px;
        margin-top: 20px;
        line-height: 40px;
    
    }
    .two{
    
        height: 50vh;
        width: 55%;
        color: white;
        background-color:#4fbdb4;
        float: left;
        line-height: 60px;
        
    }
    .two h1{
        font-size: 38px;
        margin-left: 20px;
    }
    span{
        font-size: 30px;
    }
    .two p{
        font-size: 18px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    button{
        width: 300px;
        height: 60px;
        background-color:#adff30;
        color:white;
        font-size: 20px;
        margin-left: 20px;
        border-color:transparent;
    }
    .three{
        height: 50vh;
        width: 45%;
        background-color:#32dfaa;
        color: white;
        float:right;
    }
    .three h1{
        font-size:38px;
        margin-left: 40px;
    
    }
    .three p{
        margin-top: 20px;
        margin-left: 40px;
        font-size: 20px;
        line-height: 30px;
    }
}

