*{
    margin: 0%;
}
.section1{
    background-color:black;
    color: aliceblue;
    padding-left: 50px;
}
.section2{
    color: white;
    background:url(./hero-bcg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.h1{
    padding-left: 50px;
    padding-bottom: 25px;
}
.p{
    padding-left: 50px;
    padding-bottom: 20px;
}
button{
    padding:10px;
    margin-left: 50px;
    background-color: transparent;
    color: white;
    border-color: white;
}